@font-face {
    font-family: "San-Francisco";
    font-weight: 400;
    src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}

html {
    font-family: "San-Francisco";
    height: 100%;
    width: 100%;
    color: #e4e4e4;
    display: flex;
    justify-content: center;
    overflow: scroll;
}

body {
    background-color: #222;
    display: flex;
    align-items: center;
}

h1 {
    font-weight: 560;
    font-size: 1.3rem;
}

.messages {
    width: 817px;
    height: 664px;
    display: flex;
    flex-flow:  column;
    justify-content: center;
    align-content: space-between;
}

header {
    padding: 20px;
    box-sizing: border-box;
    border: solid 1px #777;
    background-color: #333;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

main {
    height: 664px;
    border: solid 1px #777;
    background-color: #555;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    display: flex;
    flex-flow: wrap column;
    justify-content: space-between;
    align-items: center;
}

.message_field {
    width: 609px;
    height: 170px;
    padding: 10px;
    box-sizing: border-box;
    border: solid 1px #e4e4e4;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    background-color: #777;
    display: flex;
    justify-content: space-between;
}

.message_input {
    font-family: "San-Francisco";
    font-size: 18px;
    border: solid 1px #e4e4e4;
    border-radius: 5px;
    resize: none;
    text-align: left;
    width: 500px;
    height: 150px;
    padding: 10px;
    box-sizing: border-box;
}

.send_btn {
    font-family: "San-Francisco";
    font-size: 0.95rem;
    color: #222;
    width: 79px;
    height: 36px;
    border: solid 1px #e4e4e4;
    border-radius: 5px;
}

.send_btn:hover {
    background-color: #555;
    color: #e4e4e4;
    cursor: pointer;
}

.button {
    display: flex;
    justify-content: flex-end;
}

.editar {
    background-color: #f4a259;
    border: none;
    border-bottom-left-radius: 5px;
    cursor: pointer;
}

.editar:hover {
    background-color: #e85d04;
}

.excluir {
    background-color: #bc4b51;
    border: none;
    border-bottom-right-radius: 5px;
    cursor: pointer;
}

.excluir:hover {
    background-color: #a4242a;
}

.message_section {
    height: 400px;
    overflow: auto;
    padding: 10px;
    margin: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.escreve {
    width: 700px;
    padding: 1rem;
    display: flex;
    align-items: center;
    border: solid 1px #e4e4e4;
    border-radius: 3px;
    background-color: #666;
    border-bottom-right-radius: 0;
}

@keyframes animation {
    0%{
        transform: scale(1);
    }
    100% {
        transform: scale(1.05);
    }
}